// @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
// colors
$bgColor:#ded2c2;
$fontColor:#28221b;
$color: #e3e3e2;

html {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

// for post content
.cell{
  display: flex;
  justify-content: space-between;
}